<template>
<div class="image-layout">
  <div class="panel" v-show="showPanel">
    <v-tabs :index.sync="layoutType">
      <v-tab label="Horizontal">
        <v-form>
          <v-field ui="inline" label="Row Height" class="form-row-height">
            <v-slider v-model="rowHeight" :min="100" :max="400" :step="10" mark />
          </v-field>
          <v-field ui="inline" label="Tolerance" class="form-row-height-tolerance">
            <v-slider v-model="rowHeightTolerance" :min="0" :max="1" :step="0.01" />
          </v-field>
          <v-field ui="inline" label="" class="form-is-floating">
            <v-checkbox v-model="isCompact">Compact</v-checkbox>
          </v-field>
        </v-form>
      </v-tab>
      <v-tab label="Vertical">
        <v-form>
          <v-field ui="inline" label="Column" class="form-column-count">
            <v-slider v-model="columnCount" :min="1" :max="9" :step="1" mark />
          </v-field>
          <v-field ui="inline" label="" class="form-is-floating">
            <v-checkbox v-model="isCompact">Compact</v-checkbox>
          </v-field>
        </v-form>
      </v-tab>
    </v-tabs>

  </div>
  <div :class="{
    images: true,
    page: showPanel
  }" >
    <ImageList :files="files" :layout-type="layoutType" :options="{
      rowHeight, rowHeightTolerance, columnCount, isCompact
    }" />
  </div>
</div>
</template>

<script>
import { VForm, VField, VSlider, VTabs, VTab, VCheckbox } from 'veui'
import ImageList from './ImageList'

export default {
  name: 'ImageLayout',
  components: {
    ImageList, VForm, VField, VSlider, VTabs, VTab, VCheckbox
  },
  props: {
    files: {
      type: Array,
      required: true
    },
    showPanel: Boolean
  },
  data () {
    return {
      layoutType: 0,
      rowHeight: 240,
      rowHeightTolerance: 0.25,
      columnCount: 3,
      isCompact: true
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style lang="less">
.image-layout {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.panel {
  .veui-form {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;

  }
  .veui-field {
    .veui-form-label {
      width: 90px;
    }
    &[ui~=inline] {
      display: flex;
    }
  }
  .form-row-height {
    flex: 5 0 360px;
  }
  .form-row-height-tolerance {
    flex: 1 0 200px;
    margin-left: 50px;
  }
  .form-is-floating {
    margin-left: 50px;
    &::before {
      display: none;
    }
  }
}

.images {
  width: 960px;

  &.page {
    margin: 10px auto 80px auto;
    box-sizing: content-box;
    padding: 1.5em;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 20px #aaa;
  }
}

@media print {
  .panel {
    display: none;
  }
}
</style>
