<template>
<div class="image-list">
  <div :class="{
    container: true,
    show: isAllImageLoaded,
    floating: !options.isCompact,
    [`layout-type-${layoutType}`]: true
  }" ref="container" :style="{
    height: !options.isCompact ? layout.containerHeight : null
  }">
    <img :src="src" v-for="({name, src}, index) in files" :key="`img${index}`"
      @load="handleImageLoad($event, index)" :style="layout.boxes[index]" />
    <div class="mask" v-show="!isAllImageLoaded"></div>
  </div>
</div>
</template>

<script>
import justifiedLayout from 'justified-layout'
import waterfallLayout from 'waterfall-layout'

export default {
  name: 'ImageList',
  props: {
    files: {
      type: Array,
      required: true
    },
    layoutType: {
      type: Number,
      required: true
    },
    options: {
      type: Object,
      default: {}
    },
    mode: {
      type: String,
      default: 'horizontal'
    },
    highlight: Number
  },
  data () {
    return {
      imageSizes: [],
      containerWidth: 960
    }
  },
  computed: {
    isAllImageLoaded() {
      return this.imageSizes.length !== 0
        && this.imageSizes.length === this.files.length
        && this.imageSizes.every(size => size)
    },
    layout() {
      if (!this.isAllImageLoaded) {
        return {
          containerHeight: null,
          boxes: []
        }
      }
      let {rowHeight, rowHeightTolerance, columnCount, isCompact} = this.options
      let layout, containerHeight, boxes
      switch (this.layoutType) {
        case 0:
          if (isCompact) {
            let boxes = this.imageSizes.map(function ({width, height}) {
              return {
                height: rowHeight,
                width: width / height * rowHeight
              }
            })
            layout = {
              containerHeight: null,
              boxes
            }
          }
          else {
            layout = justifiedLayout(this.imageSizes, {
              containerWidth: this.containerWidth,
              containerPadding: 0,
              targetRowHeight: rowHeight,
              targetRowHeightTolerance: rowHeightTolerance
            })
          }

          containerHeight = layout.containerHeight
          boxes = layout.boxes
          break
        case 1:
          layout = waterfallLayout(this.imageSizes, {
            containerWidth: this.containerWidth,
            columnCount,
            gridMargin: {
              bottom: 10
            }
          })
          containerHeight = layout.containerHeight
          boxes = layout.grids
          break
      }
      containerHeight = containerHeight + 'px'
      boxes = boxes.map(function (box) {
        return {
          top: box.top + 'px',
          left: box.left + 'px',
          width: box.width + 'px',
          height: box.height + 'px'
        }
      })
      return {containerHeight, boxes}
    }
  },
  methods: {
    handleImageLoad({target}, index) {
      this.$set(this.imageSizes, index, {
        width: target.naturalWidth,
        height: target.naturalHeight
      })
    },
    updateContainerWidth() {
      this.containerWidth = this.$refs.container.clientWidth
    }
  },

  mounted() {
    this.updateContainerWidth()
    document.addEventListener('resize', () => {
      this.updateContainerWidth()
    })
  }
}
</script>

<style lang="less" scoped>
.container {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  &.show {
    overflow: visible;
    img {
      float: left;
    }

    &.layout-type-0 {
      img {
        margin: 5px;
      }
    }

    &.floating {
      img {
        float: none;
        margin: 0;
        position: absolute;
      }
    }
  }

  .mask {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media print {
  .container {
    img {
      page-break-after: always;
      page-break-inside: avoid;
    }
  }
}
</style>
