<template>
<div class="image-placer">
  <div class="header">
    <v-breadcrumb :routes="breadcrumbItems" @redirect="handleBreadcrumbRedirect" />
    <v-steps :steps="steps" :current="currentStep" @click="handleStepsClick" />
    <v-button class="btn-next" ui="primary" @click="handleNextButtonClick"
      :disabled="nextButtonDisabled">{{ nextButtonText }}</v-button>
  </div>
  <div class="content">
    <div class="image-select" v-if="currentStep === 0">
      <v-uploader type="image" action="/upload" ui="horizontal"
        :autoupload="false" ref="uploader" :max-count="99"
        max-size="10mb" accept=".jpg,.jpeg,.gif"/>
    </div>

    <image-layout :files="files" v-if="currentStep === 1 || currentStep === 2"
      :show-panel="currentStep < 2" />

  </div>
</div>
</template>

<script>
import { VBreadcrumb, VSteps, VUploader, VButton } from 'veui'
import ImageLayout from './ImageLayout'

const STEPS = [
  { label: 'Select', desc: 'Select Images' },
  { label: 'Layout', desc: 'Layout Images' },
  { label: 'Print', desc: 'Print Images' }
]

export default {
  name: 'ImagePlacer',
  components: {
    VBreadcrumb, VSteps, VUploader, VButton,
    ImageLayout
  },
  props: {

  },
  data () {
    return {
      steps: STEPS,
      currentStep: 0,
      files: []
    }
  },
  computed: {
    breadcrumbItems() {
      return [{
        label: 'Image Placer'
      }].concat({
        label: this.steps[this.currentStep].desc
      })
    },
    nextButtonText() {
      switch (this.currentStep) {
        case 0:
        case 1:
          return 'Next'
        case 2:
          return 'Print'
        default:
          return ''
      }
    },
    nextButtonDisabled() {
      switch (this.currentStep) {
        case 0:
          return this.files.length === 0
        case 1:
          return false
        case 2:
          return false
        default:
          return true
      }
    }
  },
  methods: {
    handleBreadcrumbRedirect(event, router, index) {
      if (index === 0) {
        this.currentStep = 0
      }
    },
    handleStepsClick(index) {
      if (index < this.currentStep) {
        this.currentStep = index
      }
    },
    handleNextButtonClick() {
      switch (this.currentStep) {
        case 0:
        case 1:
          this.currentStep++
          break
        case 2:
          window.print()
          break
        default:
          break
      }
    },
    updateFiles() {
      let uploader = this.$refs.uploader
      if (uploader) {
        this.files = uploader.files
      }
    }

  },

  mounted() {
    setInterval(this.updateFiles.bind(this), 888)
  }
}
</script>

<style lang="less">
@import '~veui-theme-one/variables.less';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .veui-steps {
    flex-shrink: 0;
  }
  .veui-steps-step:last-child {
    margin-right: 0;
  }
  .btn-next {
    font-weight: bold;
  }

  .veui-breadcrumb {
    overflow: visible;
  }
  .veui-breadcrumb-item:first-child {
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ff754c;
    &:hover {
      animation: douyin 300ms infinite;
    }
  }
}

@keyframes douyin {
  0%,
  100% {
    text-shadow: 1px 1px 0 #ff754c;
  }
  50% {
    text-shadow: -1px -1px 0 #ff754c;
  }
}

.content {
  margin-top: 1.5em;
}

.image-preview {
  width: 140px;
  height: 140px;
}

@media print {
  .header {
    display: none;
  }
}

</style>
