<template>
  <div id="app">
    <ImagePlacer />
  </div>
</template>

<script>
import 'veui-theme-one/common.less'
import 'focus-visible'
import ImagePlacer from './components/ImagePlacer'

export default {
  name: 'App',
  components: {
    ImagePlacer
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 1em 2em;
}

@media print {
  #app {
    margin: 0;
  }
}
</style>
